/* You can add global styles to this file, and also import other style files */
$color-cookie-background: rgb(151, 151, 253);
$color-grey: gray;
$color-primary: rgb(39, 47, 158);
$color-secondary: rgb(0, 159, 252);
$color-white: #fff;
$color-black: #000;

@import "../../cookie-banner/src/lib/cookie-banner.component.scss";